.main-category-list {
    float: left;
    width: 100%;
  }
  .main-category-list .TT-panel-heading {
    display: none;
  }
  .tt-menu {
    float: left;
    width: 100%;
  }
  .tt-menu ul {
    float: left;
    margin: 0;
    list-style: none;
    width: 100%;
  }
  .tt-menu .ul-top-items .li-top-item {
    float: left;
    list-style: none;
    margin: 0 2px;
    padding: 28px 0;
    width: auto;
  }
  .tt-menu .ul-top-items .li-top-item.flyout-menu,
  .tt-menu .ul-top-items .li-top-item.more-menu {
      position: relative;
  }
  .tt-menu ul li > .a-top-link {
    color: var(--header-menu-text-color);
    float: left;
    font: 500 16px/18px var(--secondary-font);
    padding: 13px 20px;
    text-align: center;
    position: relative;
    transition: all .4s ease-in-out 0s;
  -webkit-transition: all .4s ease-in-out 0s;
  -moz-transition: all .4s ease-in-out 0s;
  -o-transition: all .4s ease-in-out 0s;
  -ms-transition: all .4s ease-in-out 0s;
    width: 100%;
  }
  .tt-menu ul li:hover > .a-top-link {
      color: var(--header-menu-texthvr-color);
  }
  .tt-menu ul li.mega-menu > .a-top-link {
    padding: 11px 16px 11px 11px;
  }
  .tt-menu.horizontal-menu ul li.mega-menu > .a-top-link::after,
  .tt-menu.horizontal-menu ul li.more-menu > .a-top-link::after {
      color: var(--header-menu-text-color);
      content: "\e5cf";
      font-family: "Material Icons";
      font-size: 16px;
      position: absolute;
      float: right;
      transition: transform .4s ease-in-out 0s;
      -webkit-transition: transform .4s ease-in-out 0s;
      -moz-transition: transform .4s ease-in-out 0s;
      -o-transition: transform .4s ease-in-out 0s;
      -ms-transition: transform .4s ease-in-out 0s;
      font-style: normal;
      width: 20px;
  }
  .tt-menu.horizontal-menu ul li.mega-menu:hover > .a-top-link::after,
  .tt-menu.horizontal-menu ul li.more-menu:hover > .a-top-link::after {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      color: var(--header-menu-texthvr-color);
  }
  .horizontal-menu .col-md-12.sub-item2-content > p {
    margin: 0;
  }
  .tt-menu li.mega-menu .sub-menu-container .sub-item2-content {
    padding: 0 15px;
    margin: 5px 0;
    float: left;
  }
  .tt-menu li.mega-menu:first-child .sub-menu-container .sub-item2-content {
    padding: 0;
  }
  .tt-menu ul li .sub-menu-container .sub-item2-content h4 {
    display: none;
  }
  .horizontal-menu .static-menu .column .image > a {
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.1);
    float: left;
    margin: 0 0 10px;
    width: 100%;
  }
  .horizontal-menu .static-menu .column .image:hover > a {
      box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
  }
  .horizontal-menu .sub-item2-content .static-menu .column .image img {
    max-width: 100%;
    width: 510px;
  }
  .horizontal-menu .li-top-item > .mega-menu-container > .container > .sub-item2-content .static-menu .column {
      padding: 0 30px;
      float: left;
      width: 510px;
  }
  .horizontal-menu .static-menu .column .menu-title,
  .horizontal-menu .li-top-item .sub-item2-content .a-mega-second-link h4 {
      border-bottom: 1px solid var(--border-color);
      color: var(--header-text-hover-color);
      display: block;
      float: left;
      font: 500 16px/26px var(--secondary-font);
      margin: 0 0 10px;
      padding: 0 0 8px;
      text-align: left;
      width: 100%;
  }
  .a-mega-second-link strong {
    font-weight: inherit;
  }
  .horizontal-menu .sub-menu-container .sub_item3-content .a-mega-third-link > h5,
  .horizontal-menu .sub-menu-container ul li a,
  .horizontal-menu .sub-menu-container ul.ul-third-items li.li-third-items a > span,
  .tt-menu ul li.more-menu .sub-menu-container li.mega-menu .sub-menu-container li a > span {
    color: var(--body-text-color);
    float: left;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0 0 8px;
    text-align: left;
    width: 100%;
  }
  .horizontal-menu .sub-menu-container .sub_item3-content .a-mega-third-link:last-child > h5,
  .horizontal-menu .sub-menu-container ul li:last-child a > span,
  .horizontal-menu .sub-menu-container ul.ul-third-items li.li-third-items:last-child a > span,
  .tt-menu ul li.more-menu .sub-menu-container li.mega-menu .sub-menu-container li:last-child a > span {
      padding: 0;
  }
  .horizontal-menu .sub-menu-container .sub_item3-content .a-mega-third-link:hover > h5,
  .horizontal-menu .sub-menu-container ul li:hover a,
  .horizontal-menu .sub-menu-container ul.ul-third-items li.li-third-items:hover a > span,
  .tt-menu ul li.more-menu .sub-menu-container li.mega-menu .sub-menu-container li:hover a > span {
      color: #000000;
  }
  .tt-menu.horizontal-menu .ul-top-items .li-top-item .sub-menu-container,
  .header_style2 .tt-menu.vertical-menu .ul-top-items .li-top-item .sub-menu-container {
    background: #ffffff;
    border: 1px solid var(--border-color);
    float: left;
    left: 0;
    margin: 0 auto;
    padding: 25px 0;
    position: absolute;
    right: auto;
    top: 100%;
    width: 770px;
  }
  .tt-menu .ul-top-items .li-top-item .sub-menu-container.mega-menu-container {
      width: 100%;
  }
  .horizontal-menu .sub-menu-container .ul-second-items .li-second-items {
    float: left;
    list-style: outside none none;
    padding: 0 20px;
    position: relative;
    width: 100%;
  }
  .tt-menu .ul-top-items .li-top-item .sub-menu-container.flyout-menu-container {
      padding: 20px 0;
      width: 220px;
  }
  .sub-menu-container .ul-second-items .li-second-items .flyout-third-items {
    background: #ffffff;
    border: 1px solid var(--border-color);
    bottom: auto;
    float: left;
    left: 100%;
    margin: auto;
    padding: 10px 0;
    position: absolute;
    right: auto;
    top: 0;
    width: 160px;
  }
  .sub-menu-container .li-second-items .flyout-third-items .li-third-items {
    float: left;
    list-style: outside none none;
    padding: 0 10px;
    width: 100%;
  }
  .horizontal-menu li.more-menu .flyout-menu-container ul .li-top-item {
    float: left;
    margin: 0;
    padding: 0 20px;
    width: 100%;
  }
  .horizontal-menu li.more-menu .flyout-menu-container ul .li-top-item a {
      padding: 0;
  }
  .tt-menu ul .li-top-item .sub-menu-container ul li a i {
      bottom: 0;
      color: #555555;
      float: right;
      font-size: 18px;
      left: auto;
      line-height: 22px;
      position: absolute;
      right: 20px;
      top: 0;
  }
  .tt-menu ul .li-top-item .sub-menu-container ul li:hover a i {
      color: #000000;
  }
  .tt-menu ul li.more-menu .sub-menu-container .li-top-item.mega-menu .sub-menu-container {
      left: 100%;
      padding: 10px 0;
      position: absolute;
      right: auto;
      top: 0;
      width: 160px;
      display: block !important;
      transform: scaleY(0);
      -webkit-transform: scaleY(0);
      -moz-transform: scaleY(0);
      -o-transform: scaleY(0);
      -ms-transform: scaleY(0);
      transform-origin: center top 0;
      transition: all 0.4s ease 0s;
      -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      -ms-transition: all 0.4s ease 0s;
      visibility: hidden;
  }
  .tt-menu ul li.more-menu .sub-menu-container .li-top-item.mega-menu:hover .sub-menu-container {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
      -moz-transform: scaleY(1);
      -o-transform: scaleY(1);
      -ms-transform: scaleY(1);
      visibility: visible;
  }
  .tt-menu ul li.more-menu .sub-menu-container li.mega-menu > .a-top-link::after {
    color: #555555;
    content: "\e5cc";
    font-family: "Material Icons";
    font-size: 18px;
    position: absolute;
    left: auto;
    right: 15px;
    width: auto;
  }
  .tt-menu ul li.more-menu .sub-menu-container li.mega-menu:hover > .a-top-link::after {
      color: #000000;
  }
  .main-category-list .ul-top-items .li-top-item .sub-item2-content.product img {
    max-width: 100%;
    border: 1px solid var(--border-color);
  }
  .horizontal-menu .li-top-item .sub-item2-content.product .a-mega-second-link h4 {
    padding: 8px 0 0;
    border: none;
    margin: 0;
  }
  .main-category-list .tt-menu .ul-top-items > li .menu-banner img {
      max-width: 100%;
  }
  @media (min-width: 992px) {
      .tt-menu.horizontal-menu .ul-top-items .li-top-item .sub-menu-container {
          margin: 0 !important;
      }
      /* .tt-menu .ul-top-items > li.li-top-item > .a-top-link::before {
          background-color: #ce465b;
          content: "";
          left: 0;
          right: 0;
          margin: 0 auto;
          position: absolute;
          top: auto;
          bottom: -5px;
          height: 1px;
          -webkit-transition: all .4s ease-in-out 0s;
          -moz-transition: all .4s ease-in-out 0s;
          -ms-transition: all .4s ease-in-out 0s;
          -o-transition: all .4s ease-in-out 0s;
          transition: all .4s ease-in-out 0s;
          width: 0;
      } */
      .tt-menu .ul-top-items > li.li-top-item:hover > .a-top-link::before {
          width: 100%;
      }
      .tt-menu.horizontal-menu ul.ul-top-items li.li-top-item .sub-menu-container,
      .tt-menu.horizontal-menu ul.ul-second-items li.li-second-items .flyout-third-items,
      .header_style2 .tt-menu.vertical-menu ul.ul-top-items li.li-top-item .sub-menu-container,
      .header_style2 .tt-menu.vertical-menu ul.ul-second-items li.li-second-items .flyout-third-items {
          transform: scaleY(0);
          -webkit-transform: scaleY(0);
          -moz-transform: scaleY(0);
          -o-transform: scaleY(0);
          -ms-transform: scaleY(0);
          transform-origin: center top 0;
          transition: all 0.4s ease 0s;
          -webkit-transition: all 0.4s ease 0s;
          -moz-transition: all 0.4s ease 0s;
          -o-transition: all 0.4s ease 0s;
          -ms-transition: all 0.4s ease 0s;
          visibility: hidden;
          display: block !important;
      }
      .tt-menu.horizontal-menu ul.ul-top-items li.li-top-item:hover .sub-menu-container,
      .tt-menu.horizontal-menu ul.ul-second-items li.li-second-items:hover .flyout-third-items,
      .header_style2 .tt-menu.vertical-menu ul.ul-top-items li.li-top-item:hover .sub-menu-container,
      .header_style2 .tt-menu.vertical-menu ul.ul-second-items li.li-second-items:hover .flyout-third-items {
          transform: scaleY(1);
          -webkit-transform: scaleY(1);
          -moz-transform: scaleY(1);
          -o-transform: scaleY(1);
          -ms-transform: scaleY(1);
          visibility: visible;
      }
      /* .tt-menu.horizontal-menu ul li:hover > .a-top-link {
          background: #ce465b;
      } */
  }
  @media (max-width: 1199px) {
      .tt-menu ul li > .a-top-link {
          padding: 13px 15px;
      }
      .tt-menu ul li.mega-menu > .a-top-link {
          padding: 13px 25px 13px 15px;
      }
      .horizontal-menu .li-top-item > .mega-menu-container > .container > .sub-item2-content .static-menu .column {
          padding: 0 15px;
      }
      .tt-menu ul li.more-menu .sub-menu-container .li-top-item.mega-menu .sub-menu-container,
      .sub-menu-container .ul-second-items .li-second-items .flyout-third-items {
          left: auto;
          right: 100%;
      }
  }
  @media (max-width: 991px) {
      .main-category-list .TT-panel-heading {
          border: medium none;
          bottom: 0;
          color: #111;
          cursor: pointer;
          display: block;
          float: left;
          font: 500 16px/18px "Open Sans",Helvetica,sans-serif;
          height: 25px;
          left: 25px;
          margin: auto;
          position: absolute;
          text-align: center;
          top: 0;
          width: 25px;
      }
      .TT-panel-heading > span {
          display: none;
      }
      .TT-panel-heading > span.icon {
          display: block;
          float: left;
          width: auto;
      }
      .tt-menu {
          background: #ffffff;
          float: left;
          left: 0;
          position: absolute;
          right: 0;
          top: 100%;
          width: 100%;
          z-index: 9;
      }
      .tt-menu ul.ul-top-items {
          padding: 15px 0;
          border: 1px solid var(--border-color);
      }
      .tt-menu .ul-top-items .li-top-item {
          padding: 0;
          margin: 0;
          position: relative;
          width: 100%;
      }
      .tt-menu ul li > .a-top-link {
          font-size: 14px;
          font-weight: 400;
          color: #111111;
          line-height: 20px;
          padding: 7px 20px;
          text-align: left;
      }
      .tt-menu ul li.mega-menu > .a-top-link {
          padding: 7px 20px;
      }
      .tt-menu ul li:hover > .a-top-link,
      .tt-menu ul li.active > .a-top-link {
          color: #000000;
      }
      .tt-menu ul li.mega-menu > .a-top-link::after,
      .tt-menu ul li.more-menu > .a-top-link::after {
          display: none;
      }
      .tt-menu .ul-top-items .li-top-item .sub-menu-container.flyout-menu-container,
      .tt-menu.horizontal-menu .ul-top-items .li-top-item .sub-menu-container {
          display: none;
          float: left;
          position: static;
          padding: 5px 15px;
          margin: 0 !important;
          width: 100%;
          border: none;
      }
      .tt-menu.horizontal-menu .ul-top-items .li-top-item .sub-menu-container .container {
          width: 100%;
          padding: 0;
      }
      .tt-menu ul.ul-top-items li.mega-menu > i::before,
      .tt-menu ul.ul-top-items li.side-menu > i::before,
      .tt-menu ul.ul-top-items li.more-menu > i::before {
          bottom: 0;
          content: "\e145";
          font-family: "Material Icons";
          height: 8px;
          left: auto;
          position: absolute;
          right: 35px;
          top: 0;
          width: 8px;
          z-index: 1;
          font-size: 18px;
          line-height: 30px;
          cursor: pointer;
      }
      .tt-menu ul.ul-top-items li.mega-menu.active > i::before,
      .tt-menu ul.ul-top-items li.side-menu.active > i::before,
      .tt-menu ul.ul-top-items li.more-menu.active > i::before {
            content: '\e15b'
      }
      .tt-menu ul .li-top-item .sub-menu-container ul li a i {
          display: none;
      }
      .tt-menu ul.ul-second-items li.li-second-items .flyout-third-items {
          display: block;
          padding: 0;
      }
      .tt-menu ul li.more-menu .sub-menu-container .li-top-item.mega-menu .sub-menu-container,
      .sub-menu-container .ul-second-items .li-second-items .flyout-third-items {
        padding: 0;
        position: static;
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
          -moz-transform: scaleY(1);
          -o-transform: scaleY(1);
          -ms-transform: scaleY(1);
        visibility: visible;
      }
  }
  @media (max-width: 767px) {
      .tt-menu li.mega-menu .sub-menu-container .sub-item2-content {
          width: 100%;
      }
  }
  @media (min-width: 481px) and (max-width: 767px) {
      .main-category-list .ul-top-items .li-top-item .sub-item2-content.product {
        width: 33.33%;
      }
  }
  @media (max-width: 480px) {
      .main-category-list .TT-panel-heading {
          left: 15px;
      }
      .horizontal-menu .li-top-item > .mega-menu-container > .sub-item2-content .static-menu .column {
          width: 129px;
      }
      .horizontal-menu .li-top-item > .mega-menu-container > .container > .sub-item2-content .static-menu .column {
          width: 50% !important;
      }
  }

  /*---------------------vertical menu css-----------------------*/
  .tt-menu.vertical-menu > .tt-vertical-menu {
      background: #ffffff;
      position: fixed;
      right: 0;
      left: auto;
      top: -100%;
      bottom: auto;
      width: 350px;
      height: 100%;
      padding: 115px 0 0;
      z-index: 3;
      opacity: 0;
      -moz-opacity: 0;
      -khtml-opacity: 0;
      -webkit-opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease-in-out 0ms;
      -webkit-transition: all 0.5s ease-in-out 0ms;
      -moz-transition: all 0.5s ease-in-out 0ms;
      -o-transition: all 0.5s ease-in-out 0ms;
      -ms-transition: all 0.5s ease-in-out 0ms;
  }
  .tt-menu.vertical-menu > .tt-vertical-menu.active {
      top: 0;
      opacity: 1;
      -moz-opacity: 1;
      -khtml-opacity: 1;
      -webkit-opacity: 1;
      visibility: visible;
  }
  .tt-menu.vertical-menu .tt-menu-bar .left {
      line-height: 0;
      margin: 38px 0;
      cursor: pointer;
      color: #111111;
  }
  .tt-menu.vertical-menu .tt-menu-bar .left:hover {
      color: #000;
  }
  .tt-menu.vertical-menu .menu-close {
      position: absolute;
      top: 20px;
      bottom: auto;
      left: 20px;
      right: auto;
      cursor: pointer;
  }
  .tt-menu.vertical-menu .menu-close i {
      color: var(--header-text-color);
      float: left;
      font-size: 22px;
      transition: all .4s ease-in-out 0s;
      -webkit-transition: all .4s ease-in-out 0s;
      -moz-transition: all .4s ease-in-out 0s;
      -o-transition: all .4s ease-in-out 0s;
      -ms-transition: all .4s ease-in-out 0s;
  }
  .tt-menu.vertical-menu .menu-close:hover i {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      color: var(--header-text-hover-color);
  }
  .tt-menu.vertical-menu .ul-top-items .li-top-item {
      float: left;
      padding: 2px 30px;
      position: relative;
      width: 100%;
  }
  .tt-menu.vertical-menu ul li > .a-top-link {
      text-align: left;
      padding: 10px 0;
      width: auto;
  }
  .tt-menu.vertical-menu ul li:hover > .a-top-link {
      color: #111111;
  }
  .tt-menu.vertical-menu .ul-top-items > li.li-top-item > .a-top-link::before {
      bottom: 10px;
      width: 100%;
      right: auto;
      height: 0;
  }
  .tt-menu.vertical-menu .ul-top-items > li.li-top-item:hover > .a-top-link::before {
      height: 4px;
  }
  .tt-menu.vertical-menu ul.ul-top-items li.li-top-item .sub-menu-container {
      float: left;
      width: 100%;
      text-align: left;
      padding: 20px 0 0;
      margin: 0 !important;
      display: none;
  }
  .tt-menu.vertical-menu ul.ul-top-items li.li-top-item .sub-menu-container ul li {
      float: left;
      width: 100%;
  }
  .vertical-menu .sub-menu-container .sub_item3-content .a-mega-third-link > h5,
  .vertical-menu .sub-menu-container ul li a > span,
  .vertical-menu .sub-menu-container ul.ul-third-items li.li-third-items a > span,
  .tt-menu.vertical-menu ul li.more-menu .sub-menu-container li.mega-menu .sub-menu-container li a > span {
      color: var(--body-text-color);
      float: left;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      margin: 0;
      padding: 0 0 10px;
      text-align: left;
      width: 100%;
  }
  .vertical-menu .sub-menu-container .sub_item3-content .a-mega-third-link:hover > h5,
  .vertical-menu .sub-menu-container ul li:hover a > span,
  .vertical-menu .sub-menu-container ul.ul-third-items li.li-third-items:hover a > span,
  .tt-menu.vertical-menu ul li.more-menu .sub-menu-container li.mega-menu .sub-menu-container li:hover a > span {
      color: #000000;
  }

  .tt-menu.vertical-menu ul.ul-top-items li.side-menu > i::before,
  .tt-menu.vertical-menu ul.ul-top-items li.more-menu > i::before {
      bottom: 0;
      content: "\e313";
      color: var(--header-text-hover-color);
      font-family: "Material Icons";
      height: 8px;
      left: auto;
      position: absolute;
      right: 35px;
      top: 0;
      width: 8px;
      z-index: 1;
      font-size: 18px;
      line-height: 44px;
      cursor: pointer;
  }

  .tt-menu.vertical-menu ul.ul-top-items li.side-menu.active > i::before,
  .tt-menu.vertical-menu ul.ul-top-items li.more-menu.active > i::before {
      content: "\e316";
  }
  @media (max-width: 991px) {
      .vertical-menu {
          display: none;
      }
  }
